/* @import "tailwindcss/preflight"; */
/* @import "tailwindcss/utilities"; */

@import "tailwindcss";

/* Setting Custom Color (Tailwind: v4.0+) */
/* @theme {
  --color-background: #000000;
} */

:root {
  --bg-color: 255, 255, 255;
  --surface-color: 210, 210, 210;
  --text-primary: 38, 38, 38;
  --text-secondary: 42, 64, 98;
  --accent-color: 0, 162, 130;
  --hover-color: 42, 64, 98;
  --border-color: 210, 210, 210;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--color-indigo-200);
  border-radius: 3px;
}

button,
a,
select {
  cursor: pointer;
}

button {
  transition: all 0.3s ease-in-out;
}
