/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";

@import "tailwindcss";

:root {
  --bg-color: 255, 255, 255;
  --surface-color: 210, 210, 210;
  --text-primary: 38, 38, 38;
  --text-secondary: 42, 64, 98;
  --accent-color: 0, 162, 130;
  --hover-color: 42, 64, 98;
  --border-color: 210, 210, 210;
}
